<p-growl [(value)]="msgs"></p-growl>

<div class="row" [@routerTransition]>
    <app-page-header [heading]="'Add Clients'" [icon]="'fa-plus'" [menus]="menus"></app-page-header>

    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <div class="card mb-3">
        <div class="card-header">
        </div>
        <div class="card-body table-responsive">
          <div class="col-lg-10 offset-1">
            <form role="form">           
              
              <fieldset class="form-group">
                <div class="row">
                  <label class="col-md-2">First Name:</label>
                  <div class="input-group mb-3 col-md-6 ">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">
                        <li class="fa fa-user"></li>
                      </span>
                    </div>
                    <input type="text" [(ngModel)]="FirstName" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="First Name"
                      aria-label="FirstName" aria-describedby="basic-addon1">
                  </div>
                </div>
              </fieldset>

              <!-- Surname -->
              <fieldset class="form-group">
                <div class="row">
                  <label class="col-md-2">Surname:</label>
                  <div class="input-group mb-3 col-md-6 ">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">
                        <li class="fa fa-user"></li>
                      </span>
                    </div>
                    <input type="text" [(ngModel)]="Surname" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Surname"
                      aria-label="Surname" aria-describedby="basic-addon1">
                  </div>
                </div>
              </fieldset>
              <!-- ID Number -->
              <fieldset class="form-group">
                <div class="row">
                  <label class="col-md-2">ID Number:</label>
                  <div class="input-group mb-3 col-md-6 ">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">
                        <li class="fa fa-id-card"></li>
                      </span>
                    </div>
                    <input type="text" [(ngModel)]="IDNumber" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="ID Number"
                      aria-label="Surname" aria-describedby="basic-addon1">
                  </div>
                </div>
              </fieldset>

              <!-- Joining Date -->
              <fieldset class="form-group">
                <div class="row">
                  <label class="col-md-2">Joining Date:</label>
                  <div class="input-group mb-3 col-md-6 ">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">
                        <li class="fa fa-calendar"></li>
                      </span>
                    </div>
                    <input type="date" [(ngModel)]="JoiningDate" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Joining Date"
                      aria-label="JoiningDate" aria-describedby="basic-addon1">
                  </div>
                </div>
              </fieldset>

              <!-- Email -->
              <fieldset class="form-group">
                <div class="row">
                  <label class="col-md-2">Email:</label>
                  <div class="input-group mb-3 col-md-6 ">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">
                        <li class="fa fa-envelope"></li>
                      </span>
                    </div>
                    <input type="email" [(ngModel)]="Email" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Email" aria-label="Email"
                      aria-describedby="basic-addon1">
                  </div>
                </div>
              </fieldset>

              <!-- Cellphone -->
              <fieldset class="form-group">
                <div class="row">
                  <label class="col-md-2">Cellphone #:</label>
                  <div class="input-group mb-3 col-md-6 ">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">
                        <li class="fa fa-phone"></li>
                      </span>
                    </div>
                    <input type="text" [(ngModel)]="Cellphone" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Cellphone Number"
                      aria-label="Cellphone" aria-describedby="basic-addon1">
                  </div>
                </div>
              </fieldset>

              <!-- AddressLine1 -->
              <fieldset class="form-group">
                <div class="row">
                  <label class="col-md-2">Address Line 1:</label>
                  <div class="input-group mb-3 col-md-6 ">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">
                        <li class="fa fa-home"></li>
                      </span>
                    </div>
                    <input type="text" [(ngModel)]="AddressLine1" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Address Line 1"
                      aria-label="AddressLine1" aria-describedby="basic-addon1">
                  </div>
                </div>
              </fieldset>

              <!-- AddressLine2 -->
              <fieldset class="form-group">
                <div class="row">
                  <label class="col-md-2">Address Line 2:</label>
                  <div class="input-group mb-3 col-md-6 ">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">
                        <li class="fa fa-home"></li>
                      </span>
                    </div>
                    <input type="text" [(ngModel)]="AddressLine2" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="AddressLine2"
                      aria-label="AddressLine2" aria-describedby="basic-addon1">
                  </div>
                </div>
              </fieldset>

              <!--AddressLine3-->
              <fieldset class="form-group">
                <div class="row">
                  <label class="col-md-2">Address Line 3:</label>
                  <div class="input-group mb-3 col-md-6 ">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">
                        <li class="fa fa-home"></li>
                      </span>
                    </div>
                    <input type="text" [(ngModel)]="AddressLine3" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Address Line 3"
                      aria-label="AddressLine3" aria-describedby="basic-addon1">
                  </div>
                </div>
              </fieldset>

              <!--City-->
              <fieldset class="form-group">
                <div class="row">
                  <label class="col-md-2">City:</label>
                  <div class="input-group mb-3 col-md-6 ">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">
                        <li class="fa fa-home"></li>
                      </span>
                    </div>
                    <input type="text" [(ngModel)]="City" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="City" aria-label="City"
                      aria-describedby="basic-addon1">
                  </div>
                </div>
              </fieldset>

              <!--PostCode-->
              <fieldset class="form-group">
                <div class="row">
                  <label class="col-md-2">PostCode:</label>
                  <div class="input-group mb-3 col-md-6 ">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">
                        <li class="fa fa-home"></li>
                      </span>
                    </div>
                    <input type="text" [(ngModel)]="PostCode" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Postal Code"
                      aria-label="PostCode" aria-describedby="basic-addon1">
                  </div>
                </div>
              </fieldset>
              <div class="justify-content-center">
                <a  class="btn rounded-btn" (click)="add()">Add Client</a> &nbsp;
                <a  class="btn rounded-btn" [routerLink]="['/clients']">Abort</a>
              </div>
            </form>

          </div>
        </div>
      </div>

    </div>

  </div>