.call-status{
height: 10px;
width: 10px;
border-radius: 10px;
display: inline-block;
margin-top: 20px;
.red{
    background: #c0392b;

}
.orange{
    background: #e67e22;

}

}


.card-header {

    .btn {
        float: right;
    }

    .search {
        span {
            background: transparent;
            border: 0;
            border-bottom: solid 2px #BDC3C7;

            li {
                color: #BDC3C7;
            }
        }

        input {
            border: 0;
            background: transparent;
            border-bottom: solid 2px #BDC3C7;
        }
    }
}

.pager {
    color: white;
}

.card {
    p {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

.card {
    background-color: #181F29;
    background: #181F29;
}
