.bold{
    font-weight: bold;
}

.heading {
    font-size: 25px;
    font-weight: 600;
    color: #BDC3C7;
}
.details {
    font-size: 15px;
    display: block;
    color: #636E72;
    margin-bottom: 0.5rem;
}

.card {
    background-color: #181F29;
    background: #181F29;
}
