<div [@routerTransition]>
    <app-page-header [heading]="'Policy Plan - Details'" [icon]="'fa-users'"></app-page-header>
    <div class="row">
        <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="card mb-3">
                <div class="card-header">

                </div>
                <div class="card-body table-responsive">
                    <table class="table table-bordered" *ngIf="policy">

                        <tbody>
                            <tr>
                                <td>
                                    <b>Description</b>
                                </td>
                                <td class="bold">
                                    {{policy.Description}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Amount</b>
                                </td>
                                <td class="bold">
                                    {{policy.Amount|currency:'R':true}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Status</b>
                                </td>
                                <td class="bold">
                                    {{policy.StatusId}}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

                <div class="card-body table-responsive">
                    <h2>
                        Benefits
                    </h2>
                    <table class="table table-bordered" *ngIf="benefits$ | async as benefits; else nobefits">
                        <thead>
                            <tr>
                                <th>Amount </th>
                                <th>Description</th>
                                <th>CreateDate</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of benefits | filter: searchText | paginate: { itemsPerPage: 10, currentPage: p }">
                                <td>{{item.Amount |currency:'R':true}}</td>
                                <td class="fo-{{item.StatusId}}">{{item.Description}}</td>
                                <td>{{item.CreateDate| date:'mediumDate'}}</td>
                                <td><button class="btn rounded-btn" (click)="viewBenefit(item)">View</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ng-template #nobefits>
                  <div>
                  
                    <div class="alert alert-warning">
                     No Benefits for this plan
                    </div>
                  </div>
                </ng-template>
            </div>

        </div>

    </div>
</div>
