.card-flip {
    perspective: 1000px;
    &:hover .flip,
    &.hover .flip {
      transform: rotateY(180deg);
    }
  }
  
  .card-flip,
  .front,
  .back {
    width: 100%;
    height: 480px;
  }
  
  .flip {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
  }
  
  .front,
  .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .front {
    z-index: 2;
    transform: rotateY(0deg);
  }
  
  .back {
    transform: rotateY(180deg);
    mdb-card-body {
      height: 660px;
      background-color: #353B48;       
    }
     
  }

  .btn{
    width: 339px;
    border: 0.5rem;
    border-width: 0.5rem;
  }
  mdb-card-footer{
    background-color: #353B48;
  }
  mdb-card-text .list-group {
    color: #353B48;
    }

    .jumbotron{
      background: linear-gradient(to right, #0f2027, #203a43, #2c5364); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      color: #ffffff;
    }

   
@mixin background-cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  @mixin body-font {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
header.masthead {
    position: relative;
    background-color: #f5f6fa;
    background: url('../../../assets/images/family4.jpg') no-repeat center center;
    @include background-cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
    .overlay {
      position: absolute;
      background-color: #f5f6fa;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      opacity: 0.3;
    }
    h1 {
      font-size: 2rem;
    }
    @media (min-width: 768px) {
      padding-top: 12rem;
      padding-bottom: 12rem;
      h1 {
        font-size: 3rem;
      }
    }
  }

 .input-group-text {
    height: 38px;

    .fa {
        color:#192a56;
    }
}
.features-icons {
    padding-bottom: 3rem;
    .fa {
        color:#192a56;
    }
}

.showcase 
{
    .showcase-img {
        min-height: 30rem;
        background-size: cover;
    }
    .no-gutters>.col, .no-gutters>[class*=col-] {
        padding-right: 0;
        padding-left: 0;
    }
    .text-white {
        color: #fff!important;
    }

    h2 {
        font-weight: 700;
        color: #192a56;
    }
}
.showcase[_ngcontent-c3] .no-gutters[_ngcontent-c3] > [class*=col-][_ngcontent-c3] {
    padding-right: 0px;
    padding-left: 50px;
}