<div [@routerTransition]>

  <div class="container">
    <section>
      <div class="container-fluid">
        <div class="jumbotron">
          <div class="overlay"></div>
          <h1>Our Services</h1>
          <p>Hereby a list of comprehensive services we have on offer. Isithebe burial society
            subscribes to the highest ethical standards, respecting the dignity of a funeral and being sensitive to
            the cultural, ethnic and religious needs of all our clients in these trying times.</p>
        </div>

      </div>
    </section>
    <section class="features-icons text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-2">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="fa fa-map-marker m-auto fa-4x"></i>
              </div>
              <h3>We are located in the following Areas</h3>
              <br>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><span class="fa fa-map-signs"></span> Driefontein Kwa-Zulu Natal</li>
                <li class="list-group-item"><span class="fa fa-map-signs"></span> Maphumulo Kwa-Zulu Natal</li>
                <li class="list-group-item"><span class="fa fa-map-signs"></span> Eshowe Kwa-Zulu Natal</li>
                <li class="list-group-item"><span class="fa fa-map-signs"></span> Mpangeni Kwa-Zulu Natal</li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </section>

    <hr />
    <!-- Image Showcases -->
    <section class="showcase">
      <div class="container-fluid p-0">
        <div class="row no-gutters">
          <div class="col-lg-3 col-sm-6 text-white showcase-img" style="background-image: url('assets/images/staff.jpeg');background-size: 250px 400px;background-repeat: no-repeat;"></div>
          <div class="col-lg-9 col-sm-6 showcase-text">
            <div>
              <h2><i class="fas fa-users 2x"></i> Meet the team</h2>

              <p class="lead mb-0">Our Friendly staff is always the to comfort the family with the best service that
                can put you at ease and focus on the healing process in these trying times</p>

            </div>
            <hr>
            <div>
              <h2><i class="fas fa-phone-square 2x"></i> Call Us</h2>
              <p class="lead mb-0">You can reach us at:</p>
              <p class="lead mb-0">Landline&nbsp;:&nbsp;<a href="tel:0324592843">(032) 459 2843</a></p>
              <p class="lead mb-0">Cell&nbsp;:&nbsp;<a href="tel:0829616761">(+27)0 82 961 6761</a></p>
            </div>
            <hr>
            <div>
                <h2><i class="far fa-envelope-open"></i> Email Us</h2>
                <p class="lead mb-0">You can reach us at:</p>
                <p class="lead mb-0">Information&nbsp;:&nbsp;<a href="mailto:info@isithebe.co.za">info@isithebe.co.za</a></p>
               </div>
          </div>
        </div>
        <hr />
        <div class="row no-gutters">
          <div class="col-lg-3 col-sm-6 text-white showcase-img" style="background-image: url('assets/images/van.jpeg');background-size: 250px 250px;background-repeat: no-repeat;"></div>
          <div class="col-lg-9 col-sm-6 showcase-text">
            <div>
              <h2><i class="fa fa-ambulance 2x"></i> Repatriation</h2>
              <p class="lead mb-0">We have internal mortuary which enables us to fetch the body of the deceased</p>
            </div>
            <hr />
            <div>
              <h2><i class="fas fa-campground 2x"></i> 2 Pole Tent</h2>
              <p class="lead mb-0">As part of our burial society we offer the family in mourning a two pole tent
                accompanied by 100 chairs only</p>
            </div>
            <hr />
            <div>
              <h2><i class="fas fa-utensils 2x"></i> Catering</h2>
              <p class="lead mb-0">We further more provide two cause meals on the day of the funeral starting with
                starters then the meal after coming from the burial site.
                This is part of our promise to take care of you and your family during these trying times.
              </p>
            </div>
            <hr />
            <div>
              <h2><i class="fas fa-bell 2x"></i> Collection of the deceased</h2>
              <p class="lead mb-0">We at Isithebe burial society will accompany the deceased with a live goat to cleans
                the family in these trying times as per our traditions and culture.</p>
            </div>

          </div>
        </div>
        <hr />
        <div class="row no-gutters">
          <div class="col-lg-3 col-sm-6 text-white showcase-img" style="background-image: url('assets/images/reg.jpg');background-size: 250px 250px;background-repeat: no-repeat;"></div>
          <div class="col-lg-9 col-sm-6 showcase-text">
            <h2><i class="fas fa-plus-circle 2x"></i> Service-Registration of death</h2>
            <p class="lead mb-0">You would need to register the death of your loved one within 5 days. Contact nearest
              Isithebe Office for assistance.</p>
          </div>
        </div>
      </div>
    </section>
  </div>


</div>