<div [@routerTransition]>

    <div class="container">
        <section>
            <div class="container-fluid">
                <div class="jumbotron">
                    <div class="overlay"></div>
                    <h1>Our Services</h1>
                    <p>Hereby a list of comprehensive services we have on offer. Isithebe burial society
                        subscribes to the highest ethical standards, respecting the dignity of a funeral and being
                        sensitive to
                        the cultural, ethnic and religious needs of all our clients in these trying times.</p>
                </div>

            </div>
        </section>
        <section class="features-icons text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-2">
                        <div class="features mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icon d-flex">
                                <img src="assets/images/svg/service-icon.svg" alt="service icon">
                            </div>
                            <h1>we are located in the following Areas</h1>
                            <br>
                            <div class="list">
                                <h1 class="list-header">
                                    benefits include
                                </h1>
                                <h1 class="list-point">
                                    <img src="assets/images/svg/marker.svg" alt="marker icon"> driefontein kwa-zulu
                                    natal
                                </h1>
                                <h1 class="list-point">
                                    <img src="assets/images/svg/marker.svg" alt="marker icon"> maphumulo kwa-zulu natal
                                </h1>
                                <h1 class="list-point">
                                    <img src="assets/images/svg/marker.svg" alt="marker icon"> eshowe kwa-zulu natal
                                </h1>
                                <h1 class="list-point">
                                    <img src="assets/images/svg/marker.svg" alt="marker icon"> mpangeni kwa-zulu natal
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <hr />
        <!-- Image Showcases -->
        <section class="showcase">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <img src="../../../assets/images/svg/team-img.svg" alt="team image">
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="team-icon d-flex">
                            <img src="assets/images/svg/team-icon.svg" alt="service icon">
                        </div>
                        <div class="details">
                            <h1>meet the team</h1>
                            <p>
                                our friendly staff is always the to comfort the family with the best service that can
                                put you at ease and focus on the healing process in these trying times
                            </p>
                            <h1>call us</h1>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <h1 class="title">landline</h1>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <h1 class="value">: (032) 459 2843</h1>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <h1 class="title">Cell </h1>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <h1 class="value">: (+27)0 82 961 6761</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cards row">
                    <div class="col-md-6 col-sm-12">
                        <div class="team-icon d-flex">
                            <img src="assets/images/svg/truck.svg" alt="truck icon">
                        </div>
                        <div class="details">
                            <h1>meet the team</h1>
                            <p>
                                We Have Internal Mortuary Which Enables Us To Fetch The Body Of The Deceased
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="team-icon d-flex">
                            <img src="assets/images/svg/catering.svg" alt="catering icon">
                        </div>
                        <div class="details">
                            <h1>Catering</h1>
                            <p>
                                We Further More Provide Two Cause Meals On The Day Of The Funeral Starting With Starters
                                Then The Meal After Coming From The Burial Site. This Is Part Of Our Promise To Take
                                Care Of You And Your Family During These Trying Times.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="team-icon d-flex">
                            <img src="assets/images/svg/tent.svg" alt="tent icon">
                        </div>
                        <div class="details">
                            <h1>2 Pole Tent</h1>
                            <p>
                                As Part Of Our Burial Society We Offer The Family In Mourning A Two Pole Tent
                                Accompanied By 100 Chairs Only.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="team-icon d-flex">
                            <img src="assets/images/svg/coffin.svg" alt="coffin icon">
                        </div>
                        <div class="details">
                            <h1>collection of the deceased</h1>
                            <p>
                                we at isithebe burial society will accompany the deceased with a live goat to cleans the
                                family in these trying times as per our traditions and culture.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="team-icon d-flex">
                            <img src="assets/images/svg/browser.svg" alt="tent icon">
                        </div>
                        <div class="details">
                            <h1>service-registration of death</h1>
                            <p>
                                you would need to register the death of your loved one within 5 days. contact nearest
                                isithebe office for assistance.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <img src="assets/images/svg/transport-img.svg" alt="transport icon">
                    </div>
                </div>
            </div>
        </section>
    </div>


</div>
