<div class="container">
  <section>
    <div class="container-fluid">
      <div class="jumbotron">
        <div class="overlay"></div>
        <h1>Our Services</h1>
        <p>We cater for your every need with dedicated services.</p>
      </div>

    </div>
  </section>
  <!-- Icons Grid -->
  <section class="features-icons text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-2">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fa fa-edit m-auto fa-4x"></i>
            </div>
            <h3>Our Services</h3>
            <p class="lead mb-0">A comprehensive service, including restoration art, embalming, exhumations, cremation
              & chapel facilities, repatriation (national & international) is provided at most parlours. The company
              subscribes to the highest ethical standards, respecting the dignity of a funeral and being sensitive to
              the cultural, ethnic and religious needs of all our</p>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">
        <div class="col-lg-3 text-white showcase-img" style="background-image: url('assets/images/staff.jpeg');background-size: 250px 400px;background-repeat: no-repeat;"></div>
        <div class="col-lg-9 showcase-text">
          <h2><i class="fa fa-plus-circle 2x"></i> Cover for the Unforeseen</h2>
          <p class="lead mb-0">More often than not, the death of a loved one is the most unexpected event we face in
            the cycle of life. It is not easy to think about planning for a funeral. Taking a little time now and
            choose from our funeral insurance packages can give you great peace of mind, ensuring that you can have the
            funeral you want without placing a burden on your loved ones.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-3 text-white showcase-img" style="background-image: url('assets/images/van.jpeg');background-size: 250px 250px;background-repeat: no-repeat;"></div>
        <div class="col-lg-9 showcase-text">
          <h2><i class="fa fa-plus-circle 2x"></i> Repatriation</h2>
          <p class="lead mb-0">Isithebe provide transport for human remains from the place of death to the place of
            rest within the borders of South Africa and to the neighboring countries: Botswana, Lesotho, Mozambique and
            Swaziland. This service is also available to National Contracts and Corporates.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-3 text-white showcase-img" style="background-image: url('assets/images/reg.jpg');background-size: 250px 250px;background-repeat: no-repeat;"></div>
        <div class="col-lg-9 showcase-text">
          <h2><i class="fa fa-plus-circle 2x"></i> Service-Registration of death</h2>
          <p class="lead mb-0">You would need to register the death of your loved one within 5 days. Contact nearest
            Isithebe Office for assistance.</p>
        </div>
      </div>

    </div>
  </section>
</div>