<p-growl [(value)]="msgs"></p-growl>

<div class="register-page" [@routerTransition]>
    <div class="container">
       <h1 class="center">Online Registration<small><span class="fa fa-edit"></span></small></h1>
      
       <div class="panel panel-default w3l-login-form">   
           <div class="panel-body">
            <form role="form">
              <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <div class="form-group">
                    <input type="text" name="first_name"  [(ngModel)]="FirstName" [ngModelOptions]="{standalone: true}"  id="first_name" class="form-control input-sm" placeholder="First Name">
                  </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <div class="form-group">
                    <input type="text" name="last_name" id="last_name"  [(ngModel)]="Surname" [ngModelOptions]="{standalone: true}"  class="form-control input-sm" placeholder="Last Name">
                  </div>
                </div>
              </div>  
              <div class="form-group">
                <input type="email" name="email" [(ngModel)]="Email" [ngModelOptions]="{standalone: true}"  id="email" class="form-control input-sm" placeholder="Email Address">
              </div>
              <div class="form-group">
                  <input type="text" name="cellphone" id="cellphone"  [(ngModel)]="Cellphone" [ngModelOptions]="{standalone: true}" class="form-control input-sm" placeholder="Cellphone Number">
              </div>

              <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <div class="form-group">
                    <input type="text" name="dob" id="dob"  class="form-control input-sm" [(ngModel)]="IDNumber" [ngModelOptions]="{standalone: true}" placeholder="Date Of Birth">
                   </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">                   
                </div>
              </div>
              
              <input type="submit" value="Apply" (click)="apply()" class="btn btn-success btn-block">
            
            </form>
            <p class=" w3l-register-p">Go Back - <a routerLink="/home" class="register"> Home</a></p>
          </div>
        </div>
      </div>
   </div>
