<div class="form">
    <form>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="exampleInputEmail1">fullname</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter your fullname">

                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="email">email</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                        placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="subject">message</label>
                    <input type="text" class="form-control" id="subject" placeholder="Enter Subject">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="message">message</label>
                    <textarea type="text" class="form-control" id="message" placeholder="Enter Message"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary">Submit Now</button>
                    </div>
                    <div class="col-md-6">
                        <button type="reset" class="btn btn-default">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
