<p-growl [(value)]="msgs"></p-growl>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>

<div class="row" [@routerTransition]>
    <app-page-header [heading]="'Edit Client'" [icon]="'fa-edit'" [menus]="menus"></app-page-header>

    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <hr />
        <div class="card mb-3 col-md-4 col-sm-12">
            <div class="card-body table-responsive">
                <form role="form" *ngIf="client$ | async as client; else loading">
                    <fieldset class="form-group">
                        <div class="row">
                            <label class="col-md-12">First Name:</label>
                            <div class="input-group mb-3 col-md-12 ">
                                <input type="text" [(ngModel)]="client[0].FirstName" [ngModelOptions]="{standalone: true}"
                                    class="form-control" placeholder="" aria-label="FirstName"
                                    aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="form-group">
                        <div class="row">
                            <label class="col-md-12">Surname:</label>
                            <div class="input-group mb-3 col-md-12 ">
                                <input type="text" [(ngModel)]="client[0].Surname" [ngModelOptions]="{standalone: true}"
                                    class="form-control" placeholder="" aria-label="Surname"
                                    aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="form-group">
                        <div class="row">
                            <label class="col-md-12">ID Number:</label>
                            <div class="input-group mb-3 col-md-12 ">
                                <input type="text" [(ngModel)]="client[0].IDNumber" [ngModelOptions]="{standalone: true}"
                                    class="form-control" placeholder="" aria-label="IDNumber"
                                    aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="form-group">
                        <div class="row">
                            <label class="col-md-12">Joining Date:</label>
                            <div class="input-group mb-3 col-md-12 ">
                                <input type="date" [(ngModel)]="client[0].JoiningDate" [ngModelOptions]="{standalone: true}"
                                    class="form-control" placeholder="" aria-label="JoiningDate"
                                    aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="form-group">
                        <div class="row">
                            <label class="col-md-12">Email:</label>
                            <div class="input-group mb-3 col-md-12 ">
                                <input type="email" [(ngModel)]="client[0].Email" [ngModelOptions]="{standalone: true}"
                                    class="form-control" placeholder="" aria-label="Email"
                                    aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="form-group">
                        <div class="row">
                            <label class="col-md-12">Cellphone #:</label>
                            <div class="input-group mb-3 col-md-12 ">
                                <input type="text" [(ngModel)]="client[0].ContactNumbers" [ngModelOptions]="{standalone: true}"
                                    class="form-control" placeholder="" aria-label="Cellphone"
                                    aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="form-group">
                        <div class="row">
                            <label class="col-md-12">Address Line 1:</label>
                            <div class="input-group mb-3 col-md-12 ">
                                <input type="text" [(ngModel)]="client[0].AddressLine1" [ngModelOptions]="{standalone: true}"
                                    class="form-control" placeholder="" aria-label="AddressLine1"
                                    aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="form-group">
                        <div class="row">
                            <label class="col-md-12">Address Line 2:</label>
                            <div class="input-group mb-3 col-md-12 ">
                                <input type="text" [(ngModel)]="client[0].AddressLine2" [ngModelOptions]="{standalone: true}"
                                    class="form-control" placeholder="" aria-label="AddressLine2"
                                    aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="form-group">
                        <div class="row">
                            <label class="col-md-12">City:</label>
                            <div class="input-group mb-3 col-md-12 ">
                                <input type="text" [(ngModel)]="client[0].City" [ngModelOptions]="{standalone: true}"
                                    class="form-control" placeholder="" aria-label="City"
                                    aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="form-group">
                        <div class="row">
                            <label class="col-md-12">Postal Code:</label>
                            <div class="input-group mb-3 col-md-12 ">
                                <input type="text" [(ngModel)]="client[0].PostCode" [ngModelOptions]="{standalone: true}"
                                    class="form-control" placeholder="" aria-label="PostCode"
                                    aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </fieldset>
                    <div class="justify-content-center">
                        <a class="btn rounded-btn btn-primary" (click)="edit(client[0])">Update Client</a> &nbsp;
                        <a class="btn rounded-btn" (click)="archive(client[0])">Archive</a> &nbsp;
                        <a class="btn rounded-btn btn-secondary" [routerLink]="['/clients']">cancel</a>
                    </div>
                </form>
                <ng-template #loading>
                        <app-spinner></app-spinner>
                    </ng-template>
            </div>
        </div>

    </div>
</div>
