<p-growl [(value)]="msgs"></p-growl>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>

<div class="row" [@routerTransition]>
    <app-page-header [heading]="'Add Benefit to a  policy'" [icon]="'fa-plus'" [menus]="menus"></app-page-header>

    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <div class="card mb-3">
      
        <div class="card-header">
            <div class="row">
              <div class="col-md-6">
                  Select Benefit for {{policy.Description}}
              </div>
              <div class="input-group mb-3 col-md-6">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <li class="fa fa-search"></li>
                  </span>
                </div>
                <input type="text" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Search..."
                  aria-label="Search" aria-describedby="basic-addon1">
              </div>
            </div>
          </div>
        <div class="card-body table-responsive">
          <div class="col-lg-10 offset-1">
           
            <div class="card-body table-responsive" *ngIf="benefits$ | async as benefits; else loadingBenefits">
               
                
                <table class="table table-bordered" *ngIf="benefits.length; else nobefits">
                    <thead>
                        <tr>
                            <th>Amount </th>
                            <th>Description</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of benefits | filter: searchText | paginate: { itemsPerPage: 10, currentPage: p }">
                            <td>{{item.Amount |currency:'R':true}}</td>
                            <td class="fo-{{item.StatusId}}">{{item.Description}}</td>
                            <td><button class="btn rounded-btn" (click)="add(item)">Add</button></td>
                        </tr>
                    </tbody>
                </table>
                <ng-template #nobefits>
                  <div>
                  
                    <div class="alert alert-warning">
                     No Policy found for {{client.FirstName}}
                    </div>
                  </div>
                </ng-template>
            </div>

          </div>
        </div>
      </div>

    </div>

  </div>