<p-growl [(value)]="msgs"></p-growl>
<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>Dok-Comm.io</h1>
            <h3><small>patient management system</small></h3>
            <form>
                <div class="form-content">
                    <div class="form-group">
                        <input type="text"  [(ngModel)]="Email" [ngModelOptions]="{standalone: true}" class="form-control input-underline input-lg" id="Email" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <input type="password" [(ngModel)]="Password" [ngModelOptions]="{standalone: true}" class="form-control input-underline input-lg" id="Password" placeholder="Password">
                    </div>
                </div>
                <a class="btn rounded-btn"  (click)="onLoggedin()"> Log in </a>
                &nbsp;
                <!-- <a class="btn rounded-btn" [routerLink]="['/signup']">Register</a> -->
            </form>
        </div>
    </div>
</div>
