/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

@media print {
    .breadcrumb {
        display: none !important;
    }
}
.bg-dark {
    background-color: #353B48 !important;
}

/*Google fonts here*/
@import url('https://fonts.googleapis.com/css?family=Abel');

/*Variables*/
$Abel: 'Abel', sans-serif;
body {
    font-family: $Abelt;
    font-weight: normal;
  }