/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

@media print {
    .breadcrumb {
        display: none !important;
    }
}
.bg-dark {
    background-color: #30336B !important;
    // height: 4rem !important;
}
.container-fluid {
    padding: 0 !important;
}
/*Google fonts here*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

/*Variables*/
$Montserrat: 'Montserrat', sans-serif;
body {
    font-family: $Montserrat;
    font-weight: normal;
  }
  .justify-content-center {
    display: flex !important;
    justify-content: center !important;
    padding-top: 2%;
}
html, body {
    width: 100%;
    height: 100%;
    background: #F5F6FA;
  }

.rounded-btn {
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: rgb(12, 12, 12);
    border: 2px solid rgba(14, 13, 13, 0.8);
    font-size: 18px;
    line-height: 40px;
    padding: 0 25px;
}
.rounded-btn:hover,
.rounded-btn:focus,
.rounded-btn:active,
.rounded-btn:visited {
    color: rgb(12, 12, 12);
    border: 2px solid rgb(4, 3, 77);
    outline: none;
}
.input-group-text {
    height: 38px;

    .fa {
        color:#192a56;
    }
}

.modal-dialog {
    max-width: 1233px;
    margin: 1.75rem auto;
}

.loading-screen{
    position:fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    background:#ecf0f1;
    display: none;
    .loading{
        position: absolute;
        bottom: 50%;
        width: 100%;
        text-align: center;
        h1{
            color: #fa8231;
        }
    }
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}


@media only screen and (max-width: 600px) {

    .bg-dark {
        background-color: #30336B !important;
        // height: 6rem !important;
    }
}
