<div [@routerTransition]>
    <h1 class="header-main"><small>dashboard home</small></h1>
    <hr>
    <div class="row" *ngIf="counts$|async as counts">
        <div class="col-xl-3 col-lg-6 pb-1">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-4">
                            <i class="fa fa-building fa-2x"></i>
                        </div>
                        <div class="col-md-8 text-right">
                            <h1 class="header">isithebe burial society</h1>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <h1 class="col-md-4 title">email</h1>
                        <h1 class="col-md-8 value">admin@isithebe.co.za</h1>
                    </div>
                    <div class="row">
                        <h1 class="col-md-4 title">cellphone</h1>
                        <h1 class="col-md-8 value">0310110215</h1>
                    </div>
                    <div class="row">
                        <h1 class="col-md-4 title">address</h1>
                        <h1 class="col-md-8 value">stanger, kwa-zulu natal</h1>
                    </div>
                </div>
                <div class="card-footer">

                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 pb-1">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-4">
                            <i class="fa fa-users fa-2x"></i>
                        </div>
                        <div class="col-md-8 text-right">
                            <h1 class="header-stats">active clients</h1>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <h1 class="stat">
                            {{counts[0].value}}
                        </h1>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="javascript:void(0)" routerLink="/clients" class="float-right card-inverse">
                        view more
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 pb-1">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-4">
                            <i class="fa fa-file fa-2x"></i>
                        </div>
                        <div class="col-md-8 text-right">
                            <h1 class="header-stats">all policies</h1>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <h1 class="stat">
                            {{counts[1].value}}
                        </h1>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="javascript:void(0)" routerLink="/clients" class="float-right card-inverse">
                        view more
                    </a>
                </div>
            </div>
        </div>

    </div>
    <hr />
    <div class="card-body table-responsive">
    </div>
</div>
