<p-growl [(value)]="msgs"></p-growl>

 <div class="login" [@routerTransition]>
     <div class="container">
        <h1 class="center">Forgot Passowrd <small><span class="fas fa-unlock"></span></small></h1>
        <div class=" w3l-login-form">
            <form action="#" method="POST">
                <div class=" w3l-form-group">
                    <label>Enter Email Address:</label>
                    <div class="group">
                        <i class="fas fa-envelope-open"></i>
                        <input type="text" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Email Address" required="required">
                    </div>
                </div>
               
                <!-- <div class="forgot">
                    <a href="#">Forgot Password?</a>
                </div> -->
                <button type="submit" (click)="requestLink()">Request Link</button>
               
            </form>           
            <p class=" w3l-register-p">Go Back - <a routerLink="/login" class="register"> Login</a></p>
        </div>
    </div>
</div>
