<div class="form">
    <form>
        <div class="form-heading">
            <h1>
                be a part of the family, we will call you back
            </h1>
        </div>
        <div class="col-md-12 col-sm-12">
            <div class="form-group">
                <label for="fullname">full name</label>
                <input type="text" class="form-control" id="fullname" placeholder="Enter your full name">
            </div>
        </div>
        <div class="col-md-12 col-sm-12">
            <div class="form-group">
                <label for="cellphone">cellphone</label>
                <input type="text" class="form-control" id="cellphone" placeholder="Enter cellphone number">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary">Submit Now</button>
            </div>
            <div class="col-md-6">
                <button type="reset" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </form>
</div>
