     <span *ngIf="beneficiaries?.length; else nobeneficiaries">
         <div class="card-header">
             <div class="row">
                 <div class="col-md-3 col-sm-12">
                     <h1>
                         <span class="label">
                             full name
                         </span>
                     </h1>
                 </div>
                 <div class="col-md-3 col-sm-12">
                     <h1>
                         <span class="label">
                             id number
                         </span>
                     </h1>
                 </div>
                 <div class="col-md-3 col-sm-12">
                     <h1>
                         <span class="label">
                             relationship
                         </span>
                     </h1>
                 </div>
                 <div class="col-md-3 col-sm-12">
                     <h1>
                         <span class="label">
                             actions
                         </span>
                     </h1>
                 </div>
             </div>
         </div>
         <div class="">
             <div class="card mb-1" *ngFor="let item of beneficiaries">
                 <div class="row">
                     <div class="col-md-3 col-sm-12">
                         <h1>
                             <span class="value">
                                 {{item.name}} {{item.surname}}
                             </span>
                         </h1>
                     </div>
                     <div class="col-md-3 col-sm-12">
                         <h1>
                             <span class="value">
                                 {{item.idnumber}}
                             </span>
                         </h1>
                     </div>
                     <div class="col-md-3 col-sm-12">
                         <h1>
                             <span class="value">
                                 {{item.type}}
                             </span>
                         </h1>
                     </div>
                     <div class="col-md-3 col-sm-12">
                         <a class="btn rounded-btn " (click)="edit(item)">Edit</a>
                     </div>
                 </div>
             </div>
         </div>

     </span>

     <ng-template #nobeneficiaries>
         <div *ngIf="client">
             <div class="alert alert-warning">
                 No Beneficiaries found for {{client.FirstName}}
             </div>
         </div>
     </ng-template>
     <ng-template #loadingBenefits>
         <app-spinner></app-spinner>
     </ng-template>
