
<div class="row">
    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <form role="form" *ngIf="user$ | async as user">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <fieldset class="form-group">
                        <div class="row">
                            <label class="col-md-12">old password:</label>
                            <div class="input-group mb-3 col-md-12 ">
                                <input type="password" [(ngModel)]="OldPassword" [ngModelOptions]="{standalone: true}"
                                    class="form-control" placeholder="" aria-label="OldPassword"
                                    aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <fieldset class="form-group">
                        <div class="row">
                            <label class="col-md-12">new password:</label>
                            <div class="input-group mb-3 col-md-12 ">
                                <input type="password" [(ngModel)]="NewPassword" [ngModelOptions]="{standalone: true}"
                                    class="form-control" placeholder="" aria-label="NewPassword"
                                    aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-6 col-sm-12">
                    <fieldset class="form-group">
                        <div class="row">
                            <label class="col-md-12">confirm password:</label>
                            <div class="input-group mb-3 col-md-12 ">
                                <input type="password" [(ngModel)]="ConfirmPassword"
                                    [ngModelOptions]="{standalone: true}" class="form-control" placeholder=""
                                    aria-label="ConfirmPassword" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="justify-content-center">
                <a class="btn rounded-btn btn-primary" (click)="changePassword(user[0])">Change Password</a>
                <a class="btn rounded-btn btn-secondary" (click)="clearForm()">Clear</a>
                &nbsp;
            </div>
        </form>
    </div>
</div>
