.justify-content-center {
    display: flex !important;
    justify-content: center !important;
    padding-top: 2%;
}


form {
    .form-group {
        margin-bottom: 0rem;

        label {
            font-weight: 400;
            text-transform: uppercase;
            font-size: 14px;
        }

        input {
            &.form-control {
                background: transparent;
                border: 0;
                border-bottom: solid 1px gray;
                color: #BDC3C7;
                font-weight: 400;
            }
        }

        select {
            background: transparent;
        }
    }
}
