<p-growl [(value)]="msgs"></p-growl>
<div class="row" [@routerTransition]>
    <app-page-header [heading]="'Add Benefit'" [icon]="'fa-plus'" [menus]="menus"></app-page-header>
    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <hr />
        <div class="card mb-3 col-md-4 col-sm-12">
            <div class="card-body table-responsive">
                <form role="form">
                    <fieldset class="form-group">
                        <div class="row">
                            <label class="col-md-12"> Description:</label>
                            <div class="input-group mb-3 col-md-12">
                                <input type="text" [(ngModel)]="Description" [ngModelOptions]="{standalone: true}"
                                    class="form-control" placeholder="" aria-label="Description"
                                    aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <div class="row">
                            <label class="col-md-12">Amount:</label>
                            <div class="input-group mb-3 col-md-12">
                                <input type="number" [(ngModel)]="Amount" [ngModelOptions]="{standalone: true}"
                                    class="form-control" placeholder="" aria-label="Amount"
                                    aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </fieldset>

                    <div class="justify-content-center">
                        <a class="btn rounded-btn btn-primary" (click)="add()">Add Benefit</a> &nbsp;
                        <a class="btn rounded-btn btn-secondary" [routerLink]="['/benefits']">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
