<p-growl [(value)]="msgs"></p-growl>

<!-- <div [@routerTransition]> -->
<div>
    <!-- Masthead -->
    <div class="masthead text-white text-center">

    </div>

    <!-- Icons Grid -->
    <section class="features-icons text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <img src="assets/images/svg/devices.svg" alt="access image">
                            <h1 class="card-title">ease of access</h1>
                            <p class="card-text">
                                Access your policy information anywhere any time, over the internet of things.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <img src="assets/images/svg/personalised.svg" alt="access image">
                            <h1 class="card-title">personalised policies</h1>
                            <p class="card-text">
                                Enjoy a wide range of products which are tailored to your personal preferences.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <img src="assets/images/svg/secured.svg" alt="access image">
                            <h1 class="card-title">secured data</h1>
                            <p class="card-text">
                                We have implemented the latest technology in data protection. Your policy for your eyes
                                only!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Image Showcases -->
    <section class="showcase">
        <div class="container">
            <img src="assets/images/svg/family.svg" alt="family image">
            <div class="panel">
                <h1 class="panel-header">welcome to isithebe burial society</h1>
                <p class="panel-text">
                    Where excellent and dignified services are guaranteed in the unfortunate, but certain event of
                    death, your family should not have to worry about the money for the funeral. We live in a time of
                    great financial, forcing us to be wise and stay prepared for anything that might happen in our lives
                    whether expected or not.
                </p>
                <p class="panel-text">
                    We at Isithebe burial society understand how costly funerals nowadays can be, rest assured with our
                    burial society you do not need to worry about finances and can focus on healing and dealing with the
                    trauma of the death of a loved one. Isithebe burial society have designed reasonable funeral
                    policies that are packaged to cover and cater for all your needs during such trying times.
                </p>
                <div class="row policy">
                    <div class="col-md-4 family-policy">
                        <img src="assets/images/svg/family-policy.svg" alt="family policy image">
                    </div>
                    <div class="col-md-8 policy-data">
                        <img src="assets/images/svg/policy-badge.svg" alt="badge">
                        <h1 class="policy-info">policy</h1>
                        <h1 class="panel-header">isithebe burial society funeral cover</h1>
                        <ul>
                            <li>a funeral cover</li>
                            <li>isithebe burial soceity funeral cover from  R140/pm*</li>
                            <li>cover yourself and your family residing in south africa</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
