
$desktop : 840px;

 .view .img-fluid {
    width: 100%;
    height: auto;
}
.carousel-caption {
    position: absolute;
    right: -40%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: -22px;
    padding-bottom: 372px;
    color: #fff;
    text-align: center;
}
