.card-flip {
    perspective: 1000px;
    &:hover .flip,
    &.hover .flip {
      transform: rotateY(180deg);
    }
  }
  
  .card-flip,
  .front,
  .back {
    width: 100%;
    height: 480px;
  }
  
  .flip {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
  }
  
  .front,
  .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .front {
    z-index: 2;
    transform: rotateY(0deg);
  }
  
  .back {
    transform: rotateY(180deg);
    mdb-card-body {
      height: 660px;
      background-color: #353B48;       
    }
     
  }

  .btn{
    width: 339px;
    border: 0.5rem;
    border-width: 0.5rem;
  }
  mdb-card-footer{
    background-color: #353B48;
  }
  mdb-card-text .list-group {
    color: #353B48;
    }

    .jumbotron{
      background: linear-gradient(to right, #0f2027, #203a43, #2c5364); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      color: #ffffff;
    }