
<section >
	<div class="container">
      <div class="jumbotron">
          <h1>Our Policies</h1>      
          <p>Here are our range of Policies.</p>
        </div>
		<div class="row">
			<div class="col-sm-6 col-lg-4">
        		<!-- Card Flip -->
				<div class="card-flip">
					<div class="flip">
						<div class="front">
							<!-- front content -->
							<div class="card">
							  <img class="card-img-top" src="assets/images/family4.jpg" alt="100%x180" style="height: 180px; width: 100%; display: block;" data-holder-rendered="true">
							  <div class="card-block">
							    <h4 class="card-title">Product A</h4>
							    <p class="card-text">Short Description of Policy A</p>
							  </div>
							</div>
						</div>
						<div class="back">
							<!-- back content -->
							<div class="card">
							  <div class="card-block">
							    <h4 class="card-title">Policy A</h4>
							    <h6 class="card-subtitle text-muted">Underwritten by Hollard</h6>
							  </div>
							  <img src="assets/images/family4.jpg" alt="Image [100%x180]" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
							  <div class="card-block">
							    <p class="card-text">A simple burial scheme plan at an affordable premium of just R40<strong>/pm*</strong></p>
                  <a routerLink="/home/our-policies" class="card-link btn btn-success">Learn More..</a> 
							  </div>
							</div>
						</div>
					</div>
				</div>
        		<!-- End Card Flip -->
			</div>
		</div>
	</div>
</section>