<div [@routerTransition]>
    <!-- Icons Grid -->
    <section class="policy-container text-center">
        <div class="container">
            <div class="jumbotron">
                <div class="overlay"></div>
                <h1>Our Policies</h1>
                <p>Here are our range of Policies.</p>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="plan">
                        <div class="icon">
                            <img src="assets/images/svg/policy-icon.svg" alt="policy icon">
                        </div>
                        <h1 class="heading">
                            isithebe burial society funeral cover r140/pm*
                        </h1>
                        <h1 class="text">
                            cover yourself and your family residing in south africa under one policy and ensure that you
                            and your family receive a dignified funeral and repatriation service
                        </h1>
                        <div class="list">
                            <h1 class="list-header">
                                benefits include
                            </h1>
                            <h1 class="list-point">
                                <img src="assets/images/svg/like.svg" alt="like icon"> transportation of the deceased
                            </h1>
                            <h1 class="list-point">
                                <img src="assets/images/svg/like.svg" alt="like icon"> casket and mortuary
                            </h1>
                            <h1 class="list-point">
                                <img src="assets/images/svg/like.svg" alt="like icon"> funeral goat
                            </h1>
                            <h1 class="list-point">
                                <img src="assets/images/svg/like.svg" alt="like icon"> catering provided
                            </h1>
                            <h1 class="list-point">
                                <img src="assets/images/svg/like.svg" alt="like icon"> 2 pole tent with chairs
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="image">
                            <img src="assets/images/svg/policy-img.svg" alt="policy image">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
