<div [@routerTransition]>
  <app-page-header [heading]="'Client - Details'" [icon]="'fa-users'"></app-page-header>
  <div class="row">
      <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card mb-3">
              <div class="card-header">

              </div>
              <div class="card-body table-responsive">
                  <table class="table table-bordered" *ngIf="client">

                      <tbody>
                          <tr>
                              <td>
                                  <b>Name</b>
                              </td>
                              <td class="bold">
                                  {{client.FirstName}}
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <b>Surname</b>
                              </td>
                              <td class="bold">
                                  {{client.Surname}}
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <b>ContactNumbers</b>
                              </td>
                              <td class="bold">
                                  {{client.ContactNumbers}}
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <b>Email</b>
                              </td>
                              <td class="bold">
                                  {{client.Email}}
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <b>Address</b>
                              </td>
                              <td class="bold">
                                  {{client.AddressLine1}} <br>  
                                  {{client.AddressLine2}} <br>  
                                  {{client.City}} <br>  
                                  {{client.PostCode}} <br>  
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <b>CreateDate</b>
                              </td>
                              <td class="bold">
                                  {{client.CreateDate}}  
                                
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <b>ID Number</b>
                              </td>
                              <td class="bold">
                                  {{client.IDNumber}}  
                                
                              </td>
                          </tr>
                         
                        
                      </tbody>
                  </table>

              </div>
              <div class="col-md-6">
                <a class="btn rounded-btn" [routerLink]="['/policies/add']">Add Policy </a>
              </div>
              <div class="card-body table-responsive">
                  <h2>
                    Policies  
                  </h2>
                  
                  <table class="table table-bordered" *ngIf="policies$ | async as policies; else nobefits">
                      <thead>
                          <tr>
                              <th>Amount </th>
                              <th>Policy Name</th>
                              <th>CreateDate</th>

                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let item of policies | filter: searchText | paginate: { itemsPerPage: 10, currentPage: p }">
                              <td>{{item.Amount |currency:'R':true}}</td>
                              <td class="fo-{{item.StatusId}}">{{item.PolicyName}}</td>
                              <td>{{item.CreateDate| date:'mediumDate'}}</td>
                              <td><button class="btn rounded-btn" (click)="viewBenefit(item)">View</button></td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              <ng-template #nobefits>
                <div>
                
                  <div class="alert alert-warning">
                   No Benefits for this plan
                  </div>
                </div>
              </ng-template>
          </div>

      </div>

  </div>
</div>
